<div class="navbar">


    <div mat-menu-item>
        <mat-icon>light_mode</mat-icon>
        <span>Light</span>
    </div>

    <div mat-menu-item>
        <mat-icon>dark_mode</mat-icon>
        <span>Dark</span>
    </div>

    <div>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div>
                <div mat-menu-item>
                    <mat-icon>light_mode</mat-icon>
                    <span>Light</span>
                </div>
                <div mat-menu-item>
                    <mat-icon>dark_mode</mat-icon>
                    <span>Dark</span>
                </div>
                </div>
        </mat-menu>
    </div>

</div>

<!-- <app-material /> -->
 <app-payment></app-payment>

<!-- <router-outlet></router-outlet> -->